namespace: gitea
## @param replicaCount number of replicas for the deployment
replicaCount: 1

## @section Ingress
## @param ingress.enabled Enable ingress
## @param ingress.className DEPRECATED: Ingress class name.
## @param ingress.pathType Ingress Path Type
## @param ingress.annotations Ingress annotations
## @param ingress.hosts[0].host Default Ingress host
## @param ingress.hosts[0].paths[0].path Default Ingress path
## @param ingress.tls Ingress tls settings
ingress:
  enabled: true
  className: ""
  pathType: Prefix
  annotations: {}
  hosts:
    - host: git.gwynbliedd.com
      paths:
        - path: /
## @param deployment.annotations Annotations for the Gitea deployment to be created
deployment:
  env:
    []
    # - name: VARIABLE
    #   value: my-value
  terminationGracePeriodSeconds: 60
  labels: {}
  annotations: {}

## @section Persistence
#
## @param persistence.enabled Enable persistent storage
## @param persistence.create Whether to create the persistentVolumeClaim for shared storage
## @param persistence.mount Whether the persistentVolumeClaim should be mounted (even if not created)
## @param persistence.claimName Use an existing claim to store repository information
## @param persistence.size Size for persistence to store repo information
## @param persistence.accessModes AccessMode for persistence
## @param persistence.labels Labels for the persistence volume claim to be created
## @param persistence.annotations.helm.sh/resource-policy Resource policy for the persistence volume claim
## @param persistence.storageClass Name of the storage class to use
## @param persistence.subPath Subdirectory of the volume to mount at
## @param persistence.volumeName Name of persistent volume in PVC
persistence:
  enabled: true
  create: true
  mount: true
  claimName: gitea-shared-storage
  size: 10Gi
  accessModes:
    - ReadWriteOnce
  labels: {}
  storageClass:
  subPath:
  volumeName: ""
  annotations:
    helm.sh/resource-policy: keep

gitea:
  ## @param gitea.admin.username Username for the Gitea admin user
  ## @param gitea.admin.existingSecret Use an existing secret to store admin user credentials
  ## @param gitea.admin.password Password for the Gitea admin user
  ## @param gitea.admin.email Email for the Gitea admin user
  ## @param gitea.admin.passwordMode Mode for how to set/update the admin user password. Options are: initialOnlyNoReset, initialOnlyRequireReset, and keepUpdated
  admin:
    # existingSecret: gitea-admin-secret
    # existingSecret: gitea-admin-secret
    passwordMode: keepUpdated
  config:
    #  APP_NAME: "Gitea: Git with a cup of tea"
    #  RUN_MODE: dev
    server:
      SSH_PORT: 22 # rootful image
      SSH_LISTEN_PORT: 2222 # rootless image
  ssh:
    logLevel: "INFO"

## @section valkey-cluster
valkey-cluster:
  enabled: true
## @section valkey
valkey:
  ## @param valkey.enabled Enable valkey standalone or replicated
  ## @param valkey.architecture Whether to use standalone or replication
  enabled: false
  architecture: standalone
  global:
    valkey:
      password: changeme
  master:
    count: 1



## @section PostgreSQL HA
postgresql-ha:
  ## @param postgresql-ha.enabled Enable PostgreSQL HA
  enabled: true

  ## @param postgresql-ha.global.postgresql.database Name for a custom database to create (overrides `auth.database`)
  ## @param postgresql-ha.global.postgresql.username Name for a custom user to create (overrides `auth.username`)
  ## @param postgresql-ha.global.postgresql.password Name for a custom password to create (overrides `auth.password`)
  global:
    postgresql:
      database: gitea
      password: gitea
      username: gitea

  ## @param postgresql-ha.metrics.image.repository Image repository, eg. `bitnamilegacy/postgres-exporter`.
  metrics:
    image:
      repository: bitnamilegacy/postgres-exporter

  ## @param postgresql-ha.postgresql.image.repository Image repository, eg. `bitnamilegacy/postgresql-repmgr`.
  ## @param postgresql-ha.postgresql.repmgrPassword Repmgr Password
  ## @param postgresql-ha.postgresql.postgresPassword postgres Password
  ## @param postgresql-ha.postgresql.password Password for the `gitea` user (overrides `auth.password`)
  postgresql:
    image:
      repository: bitnamilegacy/postgresql-repmgr
    repmgrPassword: changeme2
    postgresPassword: changeme1
    password: changeme4

  ## @param postgresql-ha.pgpool.adminPassword pgpool adminPassword
  ## @param postgresql-ha.pgpool.image.repository Image repository, eg. `bitnamilegacy/pgpool`.
  ## @param postgresql-ha.pgpool.srCheckPassword pgpool srCheckPassword
  pgpool:
    adminPassword: changeme3
    image:
      repository: bitnamilegacy/pgpool
    srCheckPassword: changeme4

  ## @param postgresql-ha.service.ports.postgresql PostgreSQL service port (overrides `service.ports.postgresql`)
  service:
    ports:
      postgresql: 5432

  ## @param postgresql-ha.persistence.size PVC Storage Request for PostgreSQL HA volume
  persistence:
    size: 10Gi

  ## @param postgresql-ha.volumePermissions.image.repository Image repository, eg. `bitnamilegacy/os-shell`.
  volumePermissions:
    image:
      repository: bitnamilegacy/os-shell

## @section PostgreSQL
postgresql:
  ## @param postgresql.enabled Enable PostgreSQL
  enabled: false

  ## @param postgresql.global.postgresql.auth.password Password for the `gitea` user (overrides `auth.password`)
  ## @param postgresql.global.postgresql.auth.database Name for a custom database to create (overrides `auth.database`)
  ## @param postgresql.global.postgresql.auth.username Name for a custom user to create (overrides `auth.username`)
  ## @param postgresql.global.postgresql.service.ports.postgresql PostgreSQL service port (overrides `service.ports.postgresql`)
  global:
    postgresql:
      auth:
        password: gitea
        database: gitea
        username: gitea
      service:
        ports:
          postgresql: 5432

  ## @param postgresql.image.repository Image repository, eg. `bitnamilegacy/postgresql`.
  image:
    repository: bitnamilegacy/postgresql

  ## @param postgresql.primary.persistence.size PVC Storage Request for PostgreSQL volume
  primary:
    persistence:
      size: 10Gi

  ## @param postgresql.metrics.image.repository Image repository, eg. `bitnamilegacy/postgres-exporter`.
  metrics:
    image:
      repository: bitnamilegacy/postgres-exporter

  ## @param postgresql.volumePermissions.image.repository Image repository, eg. `bitnamilegacy/os-shell`.
  volumePermissions:
    image:
      repository: bitnamilegacy/os-shell

# By default, removed or moved settings that still remain in a user defined values.yaml will cause Helm to fail running the install/update.
# Set it to false to skip this basic validation check.
## @section Advanced
## @param checkDeprecation Set it to false to skip this basic validation check.
## @param test.enabled Set it to false to disable test-connection Pod.
## @param test.image.name Image name for the wget container used in the test-connection Pod.
## @param test.image.tag Image tag for the wget container used in the test-connection Pod.
checkDeprecation: true
test:
  enabled: true
  image:
    name: busybox
    tag: latest

## @param extraDeploy Array of extra objects to deploy with the release
##
extraDeploy: []

